* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
}

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e2e2e2;
    text-align: center;
}

.container {
    width: 90%;
    margin: 2rem auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 2rem;
    background: #333;
    color: #fff;
    margin-top: 2rem;
}

#contact a {
    color: #fff;
    text-decoration: none;
}

#contact a:hover {
    color: #e2e2e2;
}


/* From Uiverse.io by adamgiebl */ 
#rich-butt {
  background-color: #e0e0e0;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #bcbcbc, inset -4px -4px 10px #ffffff;
  color: #4d4d4d;
  cursor: pointer;
  font-size: 15px;
  padding: 13px 5px;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(206, 206, 206);
}

#rich-butt:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

#rich-butt:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}