<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VickyPortfolio</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Vignesh Panju</div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="hero">
        <h1>Hello, I am Vicky</h1>
        <p>Building nothing and knows nothing</p>
    </section>

    <section id="projects" class="container">
        <h2>Projects</h2>
        <div class="project-grid">
            <div class="card">
                <h3>Project 1</h3>
                <p>On going</p>
            </div>
            <p>what do i add here</p>
        </div>
    </section>

    <footer id="contact">
        <a href="https://youtu.be/dQw4w9WgXcQ?si=tc4Dxkrh_QZNVTQr" target="_blank">
        <p>Contact: vignesh@pornhub.com</p>
        </a>
        <p>2025</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
