<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vicky Portfolio</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!---this how we link css to flask (dont touch it)-->
</head>

<body>
    <header>
        <nav>
            <div class="logo">Vignesh Diddy</div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home" class="hero">
        <h1>Hello, I am Vicky</h1>
        <p>Built nothing & knows nothing</p>
    </section>

    <section id="skill" class="container">
        <h2>Skill</h2>
        <div class="card">
            <ul>
                <li>C programming</li>
                <li>C++ programming</li>
                <li>Java programming</li>
                <li>Python programming</li>
                <a href="https://c.tenor.com/qbjLJgEorrcAAAAC/justice-league-justice-league-movie.gif" target="_blank">
                    <li>I am Rich </li>
                    <!-- need css -->
                </a>
            </ul>
        </div>
    </section>

    <section id="education" class="container">
        <h2>Education</h2>
        <div class="education-grid">
            <div class="card">
                <h3>SSv Higher Secondary School</h3>
                <p>Villupuram,Tamil Nadu</p>
            </div>

            <!-- national college -->
            <div class="card">
                <h3>National College</h3>
                <p>Tirchirapalli,Tamil Nadu</p>
            </div>
        </div>
    </section>

    <section id="projects" class="container">
        <h2>Projects</h2>
        <div class="project-grid">
            <div class="card">
                <h3>Project 1</h3>
                <p>On going</p>
            </div>
            <p>Featured Soon</p>
        </div>
    </section>

    <footer id="contact">
        Contact: 
        <a href="https://youtu.be/dQw4w9WgXcQ?si=tc4Dxkrh_QZNVTQr" target="_blank">
            <p>vigneshdiddy@pornhub.com</p>
        </a>
        <a href="https://github.com/mageshweri099-dotcom" target="_blank">
            <p>GitHub</p>
        <p>© 2025 All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
